body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1565c0;
    color: white;
}

header {
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}

h2 {
    color: #ffd54f;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

ul {
    font-size: 18px;
    line-height: 1.8;
}

.lado {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lado img {
    width: 300px;
    height: auto;
}

.botao {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #ffd54f;
    color: #1565c0;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.avaliacao {
    text-align: center;
    margin-top: 30px;
}

.avaliacao button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.ativo-like {
    background-color: green;
    color: white;
}

.ativo-dislike {
    background-color: red;
    color: white;
}

.nome {
    text-align: center;
}

.nome input {
    padding: 10px;
    width: 220px;
    font-size: 16px;
}

.nome button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#mensagem {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: #ffd54f;
    font-weight: bold;
}